body {
  color: #4b3c35;
  background-color: #fff5f2;
  margin: 0;
  line-height: 1.5;
}

a,
p {
  font-family: "Montserrat", sans-serif;
  color: #4b3c35;
  line-height: 1.5;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Playfair Display", serif;
  color: #2f2621;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.04rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.04rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.08rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}
@media (min-width: 1440px) {
  h3 {
    font-size: 32px;
  }
}

.procedures-hero-section {
  padding: 64px 0;
}
@media (min-width: 768px) {
  .procedures-hero-section {
    padding: 72px 0 96px;
  }
}
@media (min-width: 1440px) {
  .procedures-hero-section {
    padding: 96px 0;
  }
}
.procedures-hero-section .procedures-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media (min-width: 768px) {
  .procedures-hero-section .procedures-hero-container {
    gap: 72px;
  }
}
.procedures-hero-section .procedures-hero-container .procedures-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}
@media (min-width: 768px) {
  .procedures-hero-section .procedures-hero-container .procedures-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    row-gap: 48px;
  }
}
@media (min-width: 768px) {
  .procedures-hero-section .procedures-hero-container .procedures-list .list-item:last-child:nth-child(odd) {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .procedures-hero-section .procedures-hero-container .procedures-list .list-item:last-child:nth-child(odd) {
    flex-basis: auto;
    display: block;
  }
}
.procedures-hero-section .procedures-hero-container .procedures-list .list-item .card-container {
  width: clamp(327px, 30vw, 340px);
  min-height: 377px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 48px;
  text-align: center;
}
.procedures-hero-section .procedures-hero-container .procedures-list .list-item .card-container p {
  color: #fdebdb;
  font-size: 20px;
}
@media (min-width: 768px) {
  .procedures-hero-section .procedures-hero-container .procedures-list .list-item .card-container p {
    font-size: 32px;
  }
}

.treatment-section {
  padding-bottom: 64px;
}
.treatment-section .treatment-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.treatment-section .treatment-container .treatment-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.treatment-section .treatment-container .treatment-content p {
  font-size: 16px;
  letter-spacing: 0.08rem;
}
@media (min-width: 768px) {
  .treatment-section .treatment-container .treatment-content p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .treatment-section .treatment-container .treatment-content p {
    font-size: 24px;
  }
}

.clinic-section {
  padding-top: 64px;
}
@media (min-width: 768px) {
  .clinic-section {
    padding-top: 72px;
  }
}
@media (min-width: 768px) {
  .clinic-section {
    padding-top: 96px;
  }
}
.clinic-section .hero-clinic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.clinic-section .hero-clinic img {
  width: clamp(327px, 100%, 792px);
}

.professional-section {
  padding-top: 64px;
}
@media (min-width: 768px) {
  .professional-section {
    padding-top: 72px;
  }
}
@media (min-width: 768px) {
  .professional-section {
    padding-top: 96px;
  }
}
.professional-section h2 {
  margin-bottom: 32px;
}
.professional-section .professional-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .professional-section .professional-content {
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .professional-section .professional-content {
    gap: 32px;
  }
}
.professional-section .professional-content p {
  font-size: 16px;
}
@media (min-width: 768px) {
  .professional-section .professional-content p {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .professional-section .professional-content p {
    gap: 24px;
  }
}

.values-section {
  padding: 56px 0;
}
@media (min-width: 768px) {
  .values-section {
    padding: 72px 0 64px;
  }
}
@media (min-width: 1440px) {
  .values-section {
    padding: 96px 0;
  }
}
.values-section h2 {
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 1440px) {
  .values-section h2 {
    margin-bottom: 48px;
  }
}
.values-section .values-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
@media (min-width: 768px) {
  .values-section .values-container {
    gap: 64px;
  }
}
.values-section .values-container .value-text {
  font-size: 14px;
  letter-spacing: 0.04rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .values-section .values-container .value-text {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .values-section .values-container .value-text {
    font-size: 24px;
  }
}
.values-section .values-container .values-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 768px) {
  .values-section .values-container .values-content {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
    row-gap: 48px;
  }
}
@media (min-width: 1440px) {
  .values-section .values-container .values-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 100px;
  }
}
.values-section .values-container .values-content .value-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 768px) {
  .values-section .values-container .values-content .value-block {
    flex-basis: calc((100% - 48px) / 2);
  }
  .values-section .values-container .values-content .value-block:last-child:nth-child(odd) {
    flex-basis: 100%;
    max-width: 468px;
  }
}
@media (min-width: 1440px) {
  .values-section .values-container .values-content .value-block {
    flex-basis: 33.3333333333%;
    flex-grow: 1;
  }
  .values-section .values-container .values-content .value-block:last-child:nth-child(odd) {
    flex-basis: 33.3333333333%;
    max-width: none;
  }
}
.values-section .values-container .values-content .value-block p {
  font-size: 16px;
  letter-spacing: 0.08rem;
}
@media (min-width: 768px) {
  .values-section .values-container .values-content .value-block p {
    font-size: 20px;
  }
}

.carousel-section {
  padding-bottom: 64px;
}
.carousel-section .carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .carousel-section .carousel-container {
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .carousel-section .carousel-container {
    gap: 40px;
  }
}
.carousel-section .carousel-container .carousel-img-container {
  width: 100%;
  max-width: 327px;
}
@media (min-width: 768px) {
  .carousel-section .carousel-container .carousel-img-container {
    max-width: clamp(632px, 25vw + 400px, 792px);
  }
}
@media (min-width: 1440px) {
  .carousel-section .carousel-container .carousel-img-container {
    max-width: 792px;
  }
}
.carousel-section .carousel-container .carousel-img-container img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel-section .carousel-container .carousel-btn {
  display: none;
}
@media (min-width: 768px) {
  .carousel-section .carousel-container .carousel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 56px;
    height: 56px;
  }
}
.carousel-section .carousel-container .carousel-btn.forvard-btn svg {
  transform: rotate(180deg);
}
@media (min-width: 1440px) {
  .carousel-section .carousel-container .carousel-btn {
    width: 64px;
    height: 64px;
  }
}

.hero-section {
  width: 100%;
  background: rgb(253, 235, 219);
  background: radial-gradient(at center, rgb(253, 235, 219), rgba(178, 124, 90, 0.4));
  padding-top: 24px;
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  .hero-section {
    padding: 0px;
  }
}
.hero-section .hero-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero-section .hero-container {
    gap: 32px;
    height: 100%;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
}
@media (min-width: 1440px) {
  .hero-section .hero-container {
    gap: 24px;
  }
}
.hero-section .hero-container .hero-image {
  display: none;
}
@media (min-width: 768px) {
  .hero-section .hero-container .hero-image {
    display: block;
    min-width: 0;
    flex: 1;
    width: 100%;
    height: auto;
  }
}
.hero-section .hero-container .hero-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (min-width: 768px) {
  .hero-section .hero-container .hero-content {
    height: 100%;
    flex: 1;
    gap: 48px;
  }
}
.hero-section .hero-container .hero-content .hero-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .hero-section .hero-container .hero-content .hero-text {
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .hero-section .hero-container .hero-content .hero-text {
    gap: 16px;
  }
}

.about-section {
  padding: 32px 0;
}
@media (min-width: 768px) {
  .about-section {
    padding-top: 96px;
  }
}
@media (min-width: 1440px) {
  .about-section {
    padding-top: 120px;
  }
}
.about-section .about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
@media (min-width: 768px) {
  .about-section .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image title" "image text";
    gap: 24px 32px;
    justify-items: start;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .about-section .about-container .about-title {
    align-self: end;
  }
}
.about-section .about-container .about-image {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .about-section .about-container .about-image {
    grid-area: image;
    width: 100%;
  }
}
.about-section .about-container .about-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .about-section .about-container .about-text {
    grid-area: text;
    align-self: start;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .about-section .about-container .about-text {
    font-size: 24px;
  }
}

.services-section {
  padding: 24px 0 32px;
  background: linear-gradient(180deg, rgba(253, 235, 219, 0) 0%, rgb(250, 238, 230) 100%);
}
@media (min-width: 768px) {
  .services-section {
    padding-top: 96px;
  }
}
@media (min-width: 1440px) {
  .services-section {
    padding-top: 120px;
  }
}
.services-section .services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.services-section .services-container .cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 0;
  list-style: none;
  width: 100%;
}
@media (min-width: 768px) {
  .services-section .services-container .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 64px;
  }
}
.services-section .services-container .cards-container .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #f3ded0;
  padding: 24px;
  border-radius: 96px 96px 0 0;
  text-align: center;
  width: 100%;
  max-width: 360px;
}
@media (min-width: 768px) {
  .services-section .services-container .cards-container .service-card {
    flex: 0 1 calc(50% - 20px);
    max-width: 385;
  }
  .services-section .services-container .cards-container .service-card:last-child:nth-child(odd) {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .services-section .services-container .cards-container .service-card {
    flex: 0 1 calc(33.333% - 40px);
    max-width: 400px;
  }
  .services-section .services-container .cards-container .service-card:last-child:nth-child(odd) {
    margin-left: 0;
    margin-right: 0;
  }
}
.services-section .services-container .cards-container .service-card img {
  border-radius: 72px 72px 0 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-section .services-container .cards-container .service-card p {
  letter-spacing: 0.08rem;
}

.why-us-section {
  padding: 24px 0 48px;
  background: linear-gradient(180deg, rgb(250, 238, 230) 0%, rgb(253, 235, 219) 100%);
}
@media (min-width: 768px) {
  .why-us-section {
    padding: 96px 0;
  }
}
@media (min-width: 1440px) {
  .why-us-section {
    padding: 120px 0;
  }
}
@media (min-width: 768px) {
  .why-us-section .why-us-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .why-us-section .why-us-container {
    gap: 88px;
  }
}
.why-us-section .why-us-container .why-us-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
@media (min-width: 768px) {
  .why-us-section .why-us-container .why-us-content {
    align-items: start;
    flex: 0 1 50%;
  }
}
.why-us-section .why-us-container .why-us-image {
  display: none;
}
@media (min-width: 768px) {
  .why-us-section .why-us-container .why-us-image {
    display: block;
    flex: 0 1 50%;
    width: 100%;
    height: auto;
  }
}
.why-us-section .why-us-container .why-us-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.why-us-section .why-us-container .why-us-list .why-us-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 8px;
}
.why-us-section .why-us-container .why-us-list .why-us-card svg {
  min-width: 24px;
  min-height: 24px;
}
.why-us-section .why-us-container .why-us-list .why-us-card .card-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reviews-section {
  padding: 32px 0 64px;
}
@media (min-width: 768px) {
  .reviews-section {
    padding: 96px 0;
  }
}
@media (min-width: 1440px) {
  .reviews-section {
    padding-bottom: 120px;
  }
}
.reviews-section .reviews-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
@media (min-width: 768px) {
  .reviews-section .reviews-container {
    gap: 48px;
  }
}
@media (min-width: 1440px) {
  .reviews-section .reviews-container {
    gap: 56px;
  }
}
.reviews-section .reviews-container .reviews-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 768px) {
  .reviews-section .reviews-container .reviews-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 64px;
  }
}
@media (min-width: 1440px) {
  .reviews-section .reviews-container .reviews-list {
    width: 100%;
  }
}
.reviews-section .reviews-container .reviews-list .review-item {
  background-color: #f3ded0;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 234px;
  max-width: 385px;
}
@media (min-width: 768px) {
  .reviews-section .reviews-container .reviews-list .review-item {
    flex: 0 1 calc(50% - 20px);
    max-width: 385;
  }
  .reviews-section .reviews-container .reviews-list .review-item:last-child:nth-child(odd) {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .reviews-section .reviews-container .reviews-list .review-item {
    flex: 0 1 calc(33.333% - 40px);
    max-width: 300px;
  }
  .reviews-section .reviews-container .reviews-list .review-item:last-child:nth-child(odd) {
    margin-left: 0;
    margin-right: 0;
  }
}

.cta-section {
  background-image: url("../images/cta-phone.png");
  background-size: cover;
  padding: 48px 0;
}
@media (min-width: 768px) {
  .cta-section {
    background-color: #fdebdb;
    background-image: none;
    padding: 0;
  }
}
.cta-section .cta-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .cta-section .cta-container {
    flex-direction: row;
    gap: 32px;
    max-height: 618px;
  }
}
@media (min-width: 1440px) {
  .cta-section .cta-container {
    gap: 96px;
  }
}
.cta-section .cta-container img {
  display: none;
}
@media (min-width: 768px) {
  .cta-section .cta-container img {
    display: block;
    flex: 0 1 50%;
    opacity: 0.7;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.cta-section .cta-container .cta-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
}
@media (min-width: 768px) {
  .cta-section .cta-container .cta-content {
    padding: 56px 0;
  }
}
.cta-section .cta-container .cta-text p {
  margin-top: 8px;
  letter-spacing: 0.04rem;
}
.cta-section .cta-container .cta-form .form-label {
  display: block;
}
.cta-section .cta-container .cta-form .form-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgba(47, 38, 33, 0.7) solid;
  padding: 8px 0;
  margin-bottom: 40px;
  color: #2f2621;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08rem;
  cursor: text;
}
.cta-section .cta-container .cta-form .form-input::-moz-placeholder {
  color: #2f2621;
  letter-spacing: 0.08rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.cta-section .cta-container .cta-form .form-input::placeholder {
  color: #2f2621;
  letter-spacing: 0.08rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media (min-width: 768px) {
  .cta-section .cta-container .cta-form .form-input::-moz-placeholder {
    font-size: 20px;
  }
  .cta-section .cta-container .cta-form .form-input::placeholder {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .cta-section .cta-container .cta-form .form-input::-moz-placeholder {
    font-size: 24px;
  }
  .cta-section .cta-container .cta-form .form-input::placeholder {
    font-size: 24px;
  }
}
.cta-section .cta-container .cta-form .form-input:focus {
  cursor: pointer;
  outline: none;
}
.cta-section .cta-container .cta-form .form-btn {
  margin-left: auto;
  display: block;
  margin-top: 24px;
}

.btn {
  background-color: #6b5a4e;
  color: #fbf8f5;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 12px;
  }
}
@media (min-width: 1440px) {
  .btn {
    font-size: 24px;
  }
}

.container {
  width: 100%;
  padding: 0px 16px;
}
@media (min-width: 768px) {
  .container {
    padding: 0px 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0px 120px;
  }
}

.header {
  width: 100%;
}
.header .header-container {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.header .header-container .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.header .header-container .header-nav .header-logo {
  flex: 1;
}
.header .header-container .header-nav .burger-btn {
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .header .header-container .header-nav .burger-btn {
    display: none;
  }
}
.header .header-container .header-nav .nav-list {
  display: none;
}
@media (min-width: 768px) {
  .header .header-container .header-nav .nav-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }
  .header .header-container .header-nav .nav-list .header-btn {
    padding: 8px 24px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .header .header-container .header-nav .nav-list {
    font-size: 24px;
  }
}

.footer {
  padding: 48px 0;
}
.footer .footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .footer .footer-nav {
    gap: 32px;
  }
}
.footer .footer-nav .footer-text,
.footer .footer-nav .footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media (min-width: 768px) {
  .footer .footer-nav .footer-text p {
    font-size: 24px;
  }
}
.footer .footer-nav .footer-contacts a,
.footer .footer-nav .footer-contacts a:visited {
  color: #2f2621;
  font-style: normal;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer .footer-nav .footer-contacts a,
  .footer .footer-nav .footer-contacts a:visited {
    font-size: 20px;
  }
}
.footer .footer-nav .footer-contacts a:hover {
  cursor: pointer;
}
.footer .footer-nav .footer-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}/*# sourceMappingURL=main.css.map */