* {
  box-sizing: border-box;
}

body {
  color: #4b3c35;
  background-color: #fff5f2;
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Playfair Display", serif;
  color: #2f2621;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.04rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.04rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.08rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}
@media (min-width: 1440px) {
  h3 {
    font-size: 32px;
  }
}

a,
p {
  font-family: "Montserrat", sans-serif;
  color: #4b3c35;
  line-height: 1.5;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0px 16px;
}
@media (min-width: 768px) {
  .container {
    padding: 0px 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0px 120px;
  }
}

.btn {
  background-color: #6b5a4e;
  color: #fbf8f5;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 12px;
  }
}
@media (min-width: 1440px) {
  .btn {
    font-size: 24px;
  }
}

.header {
  width: 100%;
}
.header .header-container {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.header .header-container .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.header .header-container .header-nav .header-logo {
  flex: 1;
}
.header .header-container .header-nav .burger-btn {
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .header .header-container .header-nav .burger-btn {
    display: none;
  }
}
.header .header-container .header-nav .nav-list {
  display: none;
}
@media (min-width: 768px) {
  .header .header-container .header-nav .nav-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }
  .header .header-container .header-nav .nav-list .header-btn {
    padding: 8px 24px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .header .header-container .header-nav .nav-list {
    font-size: 24px;
  }
}

.hero-section {
  width: 100%;
  background: rgb(253, 235, 219);
  background: radial-gradient(at center, rgb(253, 235, 219), rgba(178, 124, 90, 0.4));
  padding-top: 24px;
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  .hero-section {
    padding: 0px;
  }
}
.hero-section .hero-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero-section .hero-container {
    gap: 32px;
    height: 100%;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
}
@media (min-width: 1440px) {
  .hero-section .hero-container {
    gap: 24px;
  }
}
.hero-section .hero-container .hero-image {
  display: none;
}
@media (min-width: 768px) {
  .hero-section .hero-container .hero-image {
    display: block;
    min-width: 0;
    flex: 1;
    width: 100%;
    height: auto;
  }
}
.hero-section .hero-container .hero-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (min-width: 768px) {
  .hero-section .hero-container .hero-content {
    height: 100%;
    flex: 1;
    gap: 48px;
  }
}
.hero-section .hero-container .hero-content .hero-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .hero-section .hero-container .hero-content .hero-text {
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .hero-section .hero-container .hero-content .hero-text {
    gap: 16px;
  }
}

.about-section {
  padding: 32px 0;
}
@media (min-width: 768px) {
  .about-section {
    padding-top: 96px;
  }
}
@media (min-width: 1440px) {
  .about-section {
    padding-top: 120px;
  }
}
.about-section .about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
@media (min-width: 768px) {
  .about-section .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image title" "image text";
    gap: 24px 32px;
    justify-items: start;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .about-section .about-container .about-title {
    align-self: end;
  }
}
.about-section .about-container .about-image {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .about-section .about-container .about-image {
    grid-area: image;
    width: 100%;
  }
}
.about-section .about-container .about-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .about-section .about-container .about-text {
    grid-area: text;
    align-self: start;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .about-section .about-container .about-text {
    font-size: 24px;
  }
}

.services-section {
  padding: 24px 0 32px;
  background: linear-gradient(180deg, rgba(253, 235, 219, 0) 0%, rgb(250, 238, 230) 100%);
}
.services-section .services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.services-section .services-container .cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.services-section .services-container .cards-container .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #f3ded0;
  padding: 24px;
  border-radius: 96px 96px 0 0;
  text-align: center;
}
.services-section .services-container .cards-container .service-card img {
  border-radius: 72px 72px 0 0;
  max-width: 100%;
  height: auto;
}
.services-section .services-container .cards-container .service-card p {
  letter-spacing: 0.08rem;
}

.why-us-section {
  padding: 24px 0 48px;
  background: linear-gradient(180deg, rgb(250, 238, 230) 0%, rgb(253, 235, 219) 100%);
}
.why-us-section .why-us-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.why-us-section .why-us-container img {
  display: none;
}
.why-us-section .why-us-container .why-us-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.why-us-section .why-us-container .why-us-list .why-us-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 8px;
}
.why-us-section .why-us-container .why-us-list .why-us-card svg {
  min-width: 24px;
  min-height: 24px;
}
.why-us-section .why-us-container .why-us-list .why-us-card .card-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reviews-section {
  padding: 32px 0 64px;
}
.reviews-section .reviews-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.reviews-section .reviews-container .reviews-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.reviews-section .reviews-container .reviews-list .review-item {
  background-color: #f3ded0;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 234px;
}

.cta-section {
  background-image: url("../images/cta-phone.png");
  background-size: cover;
  padding: 48px 0;
}
.cta-section .cta-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.cta-section .cta-container img {
  display: none;
}
.cta-section .cta-container .cta-text p {
  margin-top: 8px;
  letter-spacing: 0.04rem;
}
.cta-section .cta-container .cta-form .form-label {
  display: block;
}
.cta-section .cta-container .cta-form .form-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgba(47, 38, 33, 0.7) solid;
  padding: 8px 0;
  margin-bottom: 40px;
  color: #2f2621;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08rem;
}
.cta-section .cta-container .cta-form .form-input::-moz-placeholder {
  color: #2f2621;
  letter-spacing: 0.08rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.cta-section .cta-container .cta-form .form-input::placeholder {
  color: #2f2621;
  letter-spacing: 0.08rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.cta-section .cta-container .cta-form .form-input:focus {
  cursor: pointer;
  outline: none;
}
.cta-section .cta-container .cta-form .form-btn {
  margin-left: auto;
  display: block;
  margin-top: 24px;
}

.footer {
  padding: 48px 0;
}
.footer .footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer .footer-nav .footer-text,
.footer .footer-nav .footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.footer .footer-nav .footer-contacts a,
.footer .footer-nav .footer-contacts a:visited {
  color: #2f2621;
  font-style: normal;
  text-decoration: none;
}
.footer .footer-nav .footer-contacts a:hover {
  cursor: pointer;
}
.footer .footer-nav .footer-media {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}/*# sourceMappingURL=main.css.map */