// text
$color-primary-dark: #2f2621;
$color-primary-normal: #4b3c35;
$color-primary-light: #fbf8f5;
// background
$color-brand-light: #fff5f2;
$color-brand-normal: #fdebdb;
$color-brand-dark: #6b5a4e;
// cards
$color-secondary-light: #f3ded0;
$color-secondary-dark: #e3c9b8;
// breakpoints
$bp-tablet: 768px;

$bp-desktop: 1440px;

@mixin up($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: $color-primary-normal;
  background-color: $color-brand-light;
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: $color-primary-dark;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.04rem;

  @include up($bp-tablet) {
    font-size: 40px;
  }

  @include up($bp-desktop) {
    font-size: 56px;
  }
}

h2 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.04rem;

  @include up($bp-tablet) {
    font-size: 36px;
  }

  @include up($bp-desktop) {
    font-size: 48px;
  }
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.08rem;

  @include up($bp-tablet) {
    font-size: 24px;
  }

  @include up($bp-desktop) {
    font-size: 32px;
  }
}

a,
p {
  font-family: 'Montserrat', sans-serif;
  color: $color-primary-normal;
  line-height: 1.5;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0px 16px;

  @include up($bp-tablet) {
    padding: 0px 32px;
  }

  @include up($bp-desktop) {
    padding: 0px 120px;
  }
}

.btn {
  background-color: $color-brand-dark;
  color: $color-primary-light;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 8px 16px;
  width: fit-content;
  font-size: 16px;
  cursor: pointer;

  @include up($bp-tablet) {
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 12px;
  }

  @include up($bp-desktop) {
    font-size: 24px;
  }
}

// header

.header {
  width: 100%;

  .header-container {
    display: flex;
    align-items: center;
    padding: 8px 0;

    .header-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;

      .header-logo {
        flex: 1;
      }

      .burger-btn {
        border: none;
        background-color: transparent;

        @include up($bp-tablet) {
          display: none;
        }
      }

      .nav-list {
        display: none;

        @include up($bp-tablet) {
          display: flex;
          flex: 1;
          justify-content: space-between;
          align-items: center;
          font-size: 20px;

          .header-btn {
            padding: 8px 24px;
            width: 100%;
          }
        }

        @include up($bp-desktop) {
          font-size: 24px;
        }
      }
    }
  }
}

// hero
.hero-section {
  width: 100%;
  background: rgba(253, 235, 219, 1);
  background: radial-gradient(at center, rgba(253, 235, 219, 1), rgba(178, 124, 90, 0.4));
  padding-top: 24px;
  padding-bottom: 36px;

  @include up($bp-tablet) {
    padding: 0px;
  }

  .hero-container {
    display: flex;
    flex-direction: column;

    @include up($bp-tablet) {
      gap: 32px;
      height: 100%;
      align-items: center;
      flex-direction: row;
      flex: 1;
    }

    @include up($bp-desktop) {
      gap: 24px;
    }

    .hero-image {
      display: none;

      @include up($bp-tablet) {
        display: block;
        min-width: 0;
        flex: 1;
        width: 100%;
        height: auto;
      }
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      gap: 80px;

      @include up($bp-tablet) {
        height: 100%;
        flex: 1;
        gap: 48px;
      }

      .hero-text {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include up($bp-tablet) {
          gap: 24px;
        }

        @include up($bp-desktop) {
          gap: 16px;
        }
      }
    }
  }
}

// about
.about-section {
  padding: 32px 0;

  @include up($bp-tablet) {
    padding-top: 96px;
  }

  @include up($bp-desktop) {
    padding-top: 120px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include up($bp-tablet) {
      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'image title'
        'image text';
      gap: 24px 32px;
      justify-items: start;
      align-items: center;
    }

    .about-title {
      @include up($bp-tablet) {
        align-self: end;
      }
    }

    .about-image {
      max-width: 100%;
      height: auto;

      @include up($bp-tablet) {
        grid-area: image;
        width: 100%;
      }
    }

    .about-text {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include up($bp-tablet) {
        grid-area: text;
        align-self: start;
        font-size: 20px;
      }

      @include up($bp-desktop) {
        font-size: 24px;
      }
    }
  }
}

// services
.services-section {
  padding: 24px 0 32px;
  background: linear-gradient(180deg, rgba(253, 235, 219, 0) 0%, rgba(250, 238, 230, 1) 100%);

  @include up($bp-tablet) {
    padding-top: 96px;
  }

  @include up($bp-desktop) {
    padding-top: 120px;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
      padding: 0;
      list-style: none;
      width: 100%;

      @include up($bp-tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 40px;
        row-gap: 64px;
      }

      .service-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        background-color: $color-secondary-light;
        padding: 24px;
        border-radius: 96px 96px 0 0;
        text-align: center;
        width: 100%;
        max-width: 360px;

        @include up($bp-tablet) {
          flex: 0 1 calc(50% - 20px);
          max-width: 385;
          &:last-child:nth-child(odd) {
            margin-left: auto;
            margin-right: auto;
          }
        }

        @include up($bp-desktop) {
          flex: 0 1 calc(33.333% - 40px);
          max-width: 400px;

          &:last-child:nth-child(odd) {
            margin-left: 0;
            margin-right: 0;
          }
        }

        img {
          border-radius: 72px 72px 0 0;
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        p {
          letter-spacing: 0.08rem;
        }
      }
    }
  }
}
// why us
.why-us-section {
  padding: 24px 0 48px;
  background: linear-gradient(180deg, rgba(250, 238, 230, 1) 0%, rgba(253, 235, 219, 1) 100%);

  @include up($bp-tablet) {
    padding: 96px 0;
  }

  @include up($bp-desktop) {
    padding: 120px 0;
  }
  .why-us-container {
    @include up($bp-tablet) {
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content: space-between;
      gap: 32px;
    }

    @include up($bp-desktop) {
      gap: 88px;
    }

    .why-us-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;

      @include up($bp-tablet) {
        align-items: start;
        flex: 0 1 50%;
      }
    }

    .why-us-image {
      display: none;

      @include up($bp-tablet) {
        display: block;
        flex: 0 1 50%;
        width: 100%;
        height: auto;
      }
    }

    .why-us-list {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .why-us-card {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 8px;

        svg {
          min-width: 24px;
          min-height: 24px;
        }

        .card-text {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }
    }
  }
}

// reviews
.reviews-section {
  padding: 32px 0 64px;

  @include up($bp-tablet) {
    padding: 96px 0;
  }

  @include up($bp-desktop) {
    padding-bottom: 120px;
  }

  .reviews-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    @include up($bp-tablet) {
      gap: 48px;
    }

    @include up($bp-desktop) {
      gap: 56px;
    }

    .reviews-list {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include up($bp-tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 64px;
      }

      @include up($bp-desktop) {
        width: 100%;
      }

      .review-item {
        background-color: $color-secondary-light;
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 234px;
        max-width: 385px;

        @include up($bp-tablet) {
          flex: 0 1 calc(50% - 20px);
          max-width: 385;
          &:last-child:nth-child(odd) {
            margin-left: auto;
            margin-right: auto;
          }
        }

        @include up($bp-desktop) {
          flex: 0 1 calc(33.333% - 40px);
          max-width: 300px;

          &:last-child:nth-child(odd) {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

// cta-section
.cta-section {
  background-image: url('../images/cta-phone.png');
  background-size: cover;
  padding: 48px 0;

  @include up($bp-tablet) {
    background-color: $color-brand-normal;
    background-image: none;
    padding: 0;
  }

  .cta-container {
    display: flex;
    flex-direction: column;

    @include up($bp-tablet) {
      flex-direction: row;
      gap: 32px;
      max-height: 618px;
    }

    @include up($bp-desktop) {
      gap: 96px;
    }

    img {
      display: none;

      @include up($bp-tablet) {
        display: block;
        flex: 0 1 50%;
        opacity: 0.7;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .cta-content {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 64px;

      @include up($bp-tablet) {
        padding: 56px 0;
      }
    }

    .cta-text {
      p {
        margin-top: 8px;
        letter-spacing: 0.04rem;
      }
    }

    .cta-form {
      .form-label {
        display: block;
      }

      .form-input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px rgba(47, 38, 33, 0.7) solid;
        padding: 8px 0;
        margin-bottom: 40px;
        color: $color-primary-dark;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.08rem;
        cursor: text;
      }

      .form-input::placeholder {
        color: $color-primary-dark;
        letter-spacing: 0.08rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;

        @include up($bp-tablet) {
          font-size: 20px;
        }

        @include up($bp-tablet) {
          font-size: 24px;
        }
      }

      .form-input:focus {
        cursor: pointer;
        outline: none;
      }

      .form-btn {
        margin-left: auto;
        display: block;
        margin-top: 24px;
      }
    }
  }
}

// footer
.footer {
  padding: 48px 0;

  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include up($bp-tablet) {
      gap: 32px;
    }

    .footer-text,
    .footer-contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }

    .footer-text p {
      @include up($bp-tablet) {
        font-size: 24px;
      }
    }

    .footer-contacts {
      a,
      a:visited {
        color: $color-primary-dark;
        font-style: normal;
        text-decoration: none;

        @include up($bp-tablet) {
          font-size: 20px;
        }
      }

      a:hover {
        cursor: pointer;
      }
    }

    .footer-media {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }
}
