@use '../base/mixins' as *;
@use '../base/variables' as *;

//clinic
.clinic-section {
  padding-top: 64px;

  @include up($bp-tablet) {
    padding-top: 72px;
  }

  @include up($bp-tablet) {
    padding-top: 96px;
  }

  .hero-clinic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    img {
      width: clamp(327px, 100%, 792px);
    }
  }
}

.professional-section {
  padding-top: 64px;
  @include up($bp-tablet) {
    padding-top: 72px;
  }

  @include up($bp-tablet) {
    padding-top: 96px;
  }

  h2 {
    margin-bottom: 32px;
  }
  .professional-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include up($bp-tablet) {
      gap: 24px;
    }
    @include up($bp-desktop) {
      gap: 32px;
    }

    p {
      font-size: 16px;

      @include up($bp-tablet) {
        font-size: 20px;
      }
      @include up($bp-desktop) {
        gap: 24px;
      }
    }
  }
}

//values
.values-section {
  padding: 56px 0;

  @include up($bp-tablet) {
    padding: 72px 0 64px;
  }

  @include up($bp-desktop) {
    padding: 96px 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 32px;
    @include up($bp-desktop) {
      margin-bottom: 48px;
    }
  }

  .values-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    @include up($bp-tablet) {
      gap: 64px;
    }

    .value-text {
      font-size: 14px;
      letter-spacing: 0.04rem;
      font-weight: 300;

      @include up($bp-tablet) {
        font-size: 20px;
      }

      @include up($bp-desktop) {
        font-size: 24px;
      }
    }

    .values-content {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include up($bp-tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 48px;
        row-gap: 48px;
      }

      @include up($bp-desktop) {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 100px;
      }

      .value-block {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include up($bp-tablet) {
          flex-basis: calc((100% - 48px) / 2);

          &:last-child:nth-child(odd) {
            flex-basis: 100%;
            max-width: 468px;
          }
        }

        @include up($bp-desktop) {
          flex-basis: calc(100% / 3);
          flex-grow: 1;

          &:last-child:nth-child(odd) {
            flex-basis: calc(100% / 3);
            max-width: none;
          }
        }

        p {
          font-size: 16px;
          letter-spacing: 0.08rem;

          @include up($bp-tablet) {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.carousel-section {
  padding-bottom: 64px;
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include up($bp-tablet) {
      gap: 24px;
    }

    @include up($bp-tablet) {
      gap: 40px;
    }

    .carousel-img-container {
      width: 100%;
      max-width: 327px;

      @include up($bp-tablet) {
        max-width: clamp(632px, 25vw + 400px, 792px);
      }

      @include up($bp-desktop) {
        max-width: 792px;
      }

      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
      }
    }

    .carousel-btn {
      display: none;

      @include up($bp-tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        width: 56px;
        height: 56px;
      }
      &.forvard-btn svg {
        transform: rotate(180deg);
      }

      @include up($bp-desktop) {
        width: 64px;
        height: 64px;
      }
    }
  }
}
