@use '../base/variables' as *;
@use '../base/mixins' as *;

// hero
.hero-section {
  width: 100%;
  background: rgba(253, 235, 219, 1);
  background: radial-gradient(at center, rgba(253, 235, 219, 1), rgba(178, 124, 90, 0.4));
  padding-top: 24px;
  padding-bottom: 36px;

  @include up($bp-tablet) {
    padding: 0px;
  }

  .hero-container {
    display: flex;
    flex-direction: column;

    @include up($bp-tablet) {
      gap: 32px;
      height: 100%;
      align-items: center;
      flex-direction: row;
      flex: 1;
    }

    @include up($bp-desktop) {
      gap: 24px;
    }

    .hero-image {
      display: none;

      @include up($bp-tablet) {
        display: block;
        min-width: 0;
        flex: 1;
        width: 100%;
        height: auto;
      }
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      gap: 80px;

      @include up($bp-tablet) {
        height: 100%;
        flex: 1;
        gap: 48px;
      }

      .hero-text {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include up($bp-tablet) {
          gap: 24px;
        }

        @include up($bp-desktop) {
          gap: 16px;
        }
      }
    }
  }
}

// about
.about-section {
  padding: 32px 0;

  @include up($bp-tablet) {
    padding-top: 96px;
  }

  @include up($bp-desktop) {
    padding-top: 120px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include up($bp-tablet) {
      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'image title'
        'image text';
      gap: 24px 32px;
      justify-items: start;
      align-items: center;
    }

    .about-title {
      @include up($bp-tablet) {
        align-self: end;
      }
    }

    .about-image {
      max-width: 100%;
      height: auto;

      @include up($bp-tablet) {
        grid-area: image;
        width: 100%;
      }
    }

    .about-text {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include up($bp-tablet) {
        grid-area: text;
        align-self: start;
        font-size: 20px;
      }

      @include up($bp-desktop) {
        font-size: 24px;
      }
    }
  }
}

// services
.services-section {
  padding: 24px 0 32px;
  background: linear-gradient(180deg, rgba(253, 235, 219, 0) 0%, rgba(250, 238, 230, 1) 100%);

  @include up($bp-tablet) {
    padding-top: 96px;
  }

  @include up($bp-desktop) {
    padding-top: 120px;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
      padding: 0;
      list-style: none;
      width: 100%;

      @include up($bp-tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 40px;
        row-gap: 64px;
      }

      .service-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        background-color: $color-secondary-light;
        padding: 24px;
        border-radius: 96px 96px 0 0;
        text-align: center;
        width: 100%;
        max-width: 360px;

        @include up($bp-tablet) {
          flex: 0 1 calc(50% - 20px);
          max-width: 385;
          &:last-child:nth-child(odd) {
            margin-left: auto;
            margin-right: auto;
          }
        }

        @include up($bp-desktop) {
          flex: 0 1 calc(33.333% - 40px);
          max-width: 400px;

          &:last-child:nth-child(odd) {
            margin-left: 0;
            margin-right: 0;
          }
        }

        img {
          border-radius: 72px 72px 0 0;
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        p {
          letter-spacing: 0.08rem;
        }
      }
    }
  }
}
// why us
.why-us-section {
  padding: 24px 0 48px;
  background: linear-gradient(180deg, rgba(250, 238, 230, 1) 0%, rgba(253, 235, 219, 1) 100%);

  @include up($bp-tablet) {
    padding: 96px 0;
  }

  @include up($bp-desktop) {
    padding: 120px 0;
  }
  .why-us-container {
    @include up($bp-tablet) {
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content: space-between;
      gap: 32px;
    }

    @include up($bp-desktop) {
      gap: 88px;
    }

    .why-us-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;

      @include up($bp-tablet) {
        align-items: start;
        flex: 0 1 50%;
      }
    }

    .why-us-image {
      display: none;

      @include up($bp-tablet) {
        display: block;
        flex: 0 1 50%;
        width: 100%;
        height: auto;
      }
    }

    .why-us-list {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .why-us-card {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 8px;

        svg {
          min-width: 24px;
          min-height: 24px;
        }

        .card-text {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }
    }
  }
}

// reviews
.reviews-section {
  padding: 32px 0 64px;

  @include up($bp-tablet) {
    padding: 96px 0;
  }

  @include up($bp-desktop) {
    padding-bottom: 120px;
  }

  .reviews-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    @include up($bp-tablet) {
      gap: 48px;
    }

    @include up($bp-desktop) {
      gap: 56px;
    }

    .reviews-list {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include up($bp-tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 64px;
      }

      @include up($bp-desktop) {
        width: 100%;
      }

      .review-item {
        background-color: $color-secondary-light;
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 234px;
        max-width: 385px;

        @include up($bp-tablet) {
          flex: 0 1 calc(50% - 20px);
          max-width: 385;
          &:last-child:nth-child(odd) {
            margin-left: auto;
            margin-right: auto;
          }
        }

        @include up($bp-desktop) {
          flex: 0 1 calc(33.333% - 40px);
          max-width: 300px;

          &:last-child:nth-child(odd) {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

// cta-section
.cta-section {
  background-image: url('../images/cta-phone.png');
  background-size: cover;
  padding: 48px 0;

  @include up($bp-tablet) {
    background-color: $color-brand-normal;
    background-image: none;
    padding: 0;
  }

  .cta-container {
    display: flex;
    flex-direction: column;

    @include up($bp-tablet) {
      flex-direction: row;
      gap: 32px;
      max-height: 618px;
    }

    @include up($bp-desktop) {
      gap: 96px;
    }

    img {
      display: none;

      @include up($bp-tablet) {
        display: block;
        flex: 0 1 50%;
        opacity: 0.7;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .cta-content {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 64px;

      @include up($bp-tablet) {
        padding: 56px 0;
      }
    }

    .cta-text {
      p {
        margin-top: 8px;
        letter-spacing: 0.04rem;
      }
    }

    .cta-form {
      .form-label {
        display: block;
      }

      .form-input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px rgba(47, 38, 33, 0.7) solid;
        padding: 8px 0;
        margin-bottom: 40px;
        color: $color-primary-dark;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.08rem;
        cursor: text;
      }

      .form-input::placeholder {
        color: $color-primary-dark;
        letter-spacing: 0.08rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;

        @include up($bp-tablet) {
          font-size: 20px;
        }

        @include up($bp-tablet) {
          font-size: 24px;
        }
      }

      .form-input:focus {
        cursor: pointer;
        outline: none;
      }

      .form-btn {
        margin-left: auto;
        display: block;
        margin-top: 24px;
      }
    }
  }
}
