@use '../base/variables' as *;
@use '../base/mixins' as *;

.header {
  width: 100%;

  .header-container {
    display: flex;
    align-items: center;
    padding: 8px 0;

    .header-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;

      .header-logo {
        flex: 1;
      }

      .burger-btn {
        border: none;
        background-color: transparent;

        @include up($bp-tablet) {
          display: none;
        }
      }

      .nav-list {
        display: none;

        @include up($bp-tablet) {
          display: flex;
          flex: 1;
          justify-content: space-between;
          align-items: center;
          font-size: 20px;

          .header-btn {
            padding: 8px 24px;
            width: 100%;
          }
        }

        @include up($bp-desktop) {
          font-size: 24px;
        }
      }
    }
  }
}
