@use './variables' as *;
@use './mixins' as *;

body {
  color: $color-primary-normal;
  background-color: $color-brand-light;
  margin: 0;
  line-height: 1.5;
}

a,
p {
  font-family: 'Montserrat', sans-serif;
  color: $color-primary-normal;
  line-height: 1.5;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}
