@use './variables' as *;
@use './mixins' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: $color-primary-dark;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.04rem;

  @include up($bp-tablet) {
    font-size: 40px;
  }

  @include up($bp-desktop) {
    font-size: 56px;
  }
}

h2 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.04rem;

  @include up($bp-tablet) {
    font-size: 36px;
  }

  @include up($bp-desktop) {
    font-size: 48px;
  }
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.08rem;

  @include up($bp-tablet) {
    font-size: 24px;
  }

  @include up($bp-desktop) {
    font-size: 32px;
  }
}
