// text
$color-primary-dark: #2f2621;
$color-primary-normal: #4b3c35;
$color-primary-light: #fbf8f5;
// background
$color-brand-light: #fff5f2;
$color-brand-normal: #fdebdb;
$color-brand-dark: #6b5a4e;
// cards
$color-secondary-light: #f3ded0;
$color-secondary-dark: #e3c9b8;
// breakpoints
$bp-tablet: 768px;

$bp-desktop: 1440px;
